* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
}

/* CONTENEDOR GENERAL */
.barra {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.menu {
    width: 220px;
    background: #352dbf;
    color: #fff;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 50px;
}

.logo img {
    width: 60px;
}

.logo h1 {
    font-size: 20px;
    font-weight: normal;
}

.nav a {
    display: block;
    margin: 20px 0;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* CONTENIDO */
.contenido {
    flex: 1;
    background: #fff;
}

/* TOPBAR */
.topbar {
    height: 60px;
    background: #352dbf;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
}

.admin-icon {
    width: 36px;
    height: 36px;
}

/* MAIN */
.main {
    padding: 40px;
    text-align: center;
}

/* TARJETAS */
.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

.card {
    border: 1px solid #aaa;
    width: 220px;
    padding: 15px;
}

.card img {
    width: 90px;
    margin: 10px 0;
}

/* CENTRO */
.center h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.center img {
    width: 140px;
}